:root {
  --main-color: blue;
  background: #0b0f19;
  --text-color: #fafafa;
}

h1 {
 color: #fafafa;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  
}

label {
  color: #fafafa;
  font-size: 1.2em;
  margin-bottom: 10px;
}

select {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}